name: "continuous-integration"

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          pip install pre-commit==2.13.0
          pre-commit install
      - name: Run pre-commit on all files
        run: |
          pre-commit run --all-files

  pytest:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./math_api
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          pip install poetry
          poetry config virtualenvs.create false
          poetry install
      - name: run pytest
        run : |
          pytest --cov=./ --cov-report=xml